@{
    ViewData["Title"] = "Home Page";
}


<div class="row" style="height:100vh">
    <div class="col-9">
        <div id="cy" ></div>
    </div>
    <div class="col-3">
        <form>
          <div class="form-group">
            <label>Consola</label>
             <ul class="list-group" id="console" style="font-size:12px">
                 <li class="list-group-item">></li>
                 <li class="list-group-item">></li>
                 <li class="list-group-item">></li>
                 <li class="list-group-item">></li>
                 <li class="list-group-item">></li>
                 <li class="list-group-item">></li>
                 <li class="list-group-item">></li>
                 <li class="list-group-item">></li>
                 <li class="list-group-item">></li>
                 <li class="list-group-item">></li>
            </ul>
             <br>
             <br>
          </div>
          <div class="form-group">
            <label id="dataLabel"></label>
             <br>
             <br>
             
          </div>
          <div class="form-group">
            <button id="layoutButton" type="button">Ordenar</button>
            <button id="resetButton" type="button">Reiniciar</button>
            <button id="generarButton" type="button">Generar</button>
            <button id="tmButton" type="button">Tendido minimo Prim</button>
            <button id="tmpButton" type="button">Tendido minimo Prim paralel</button>
            <button id="tmbButton" type="button">Tendido minimo Boruvka</button>
            <button id="tmbpButton" type="button">Tendido minimo Boruvka paralel</button>
          </div>
        </form>

        
       
        
        
    </div>
  </div>